<!-- Sidebar -->
<ul data-th-fragment="sidebar" class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/SeeForm}">
		<div class="sidebar-brand-icon rotate-n-15">
			<!--<i class="fas fa-solid fa-bolt"></i> -->
		</div>
		<div class="sidebar-brand-text mx-3">Catwebs</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">
	<!-- Nav Item - Dashboard -->


	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading text-light">
		Gestion
	</div>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
			aria-controls="collapseTwo">
			<i class="fas fa-hospital-user"></i>
			<span class="text-light">Conformes</span>
		</a>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Acciones:</h6>
				<a class="collapse-item" data-th-href="@{/SeeForm}">Ver planilla</a>
				<a class="collapse-item" data-th-href="@{/AltaForm}">Crear planilla</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Utilities Collapse Menu -->
	<li data-sec-authorize="hasAnyAuthority('admin')" class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
			aria-expanded="true" aria-controls="collapseUtilities">
			<i class="fas fa-solid fa-user"></i>
			<span class="text-light">Tecnicos</span>
		</a>
		<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Acciones</h6>
				<a class="collapse-item" data-th-href="@{/SeeTechnician}">Ver Tecnicos</a>
				<a class="collapse-item" data-th-href="@{/AltaTechnician}">Crear Tecnicos</a>

			</div>
		</div>
	</li>


	<!-- Nav Item - Utilities Collapse Menu -->


	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->



</ul>
<!-- End of Sidebar -->