<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Catwebs</title>

	<!-- Custom fonts for this template-->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">



</head>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Catwebs</title>

	<!-- Custom fonts for this template-->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">



</head>

<body id="page-top">
	<!-- Validar sesion -->

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div data-th-replace="fragments/navbar :: sidebar"></div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav data-th-replace="fragments/navicon :: navicon"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Catwebs</h1>

					</div>

					<div>
						<div class="alert alert-info" th:if="${successfully}">
							Se ha creado al técnico con exito
						</div>
						<div class="alert alert-danger" th:if="${error}">
							No se pudo crear al técnico
						</div>
					</div>
					<h1> Edicion de técnico</h1>
					<form class="user" data-th-object="${technicalAccount}" method="POST" th:action="@{/technicalAccount/edit}">
						<div class="form-group col">

							<div class="col-sm-6 mb-3 ">
								<input type="hidden" id="id_technician" th:field="*{id_technician}">
							</div>

							<div class="col-sm-6 mb-3 ">
								<input type="text" class="form-control form-control-user" id="name" name="name"
									th:field="${technicalAccount.name}" placeholder="Nombre">
							</div>
							<div class="col-sm-6 mb-3 ">
								<input type="text" class="form-control form-control-user" id="lastName"
									th:field="*{lastName}" name="lastName" placeholder="Apellido">
							</div>

							<div class="col-sm-6 mb-3 ">
								<input type="text" class="form-control form-control-user" id="dni" name="dni"
									th:field="*{dni}" placeholder="Dni">
							</div>
							<div class="col-sm-6 mb-3">
								<input type="date" class="form-control form-control-user" id="admissionDate"
									name="admissionDate" th:field="*{admissionDate}"
									placeholder="Fecha ingreso-Año/mes/dia">
							</div>

							<div class="col-sm-6 mb-3">
								<input type="text" class="form-control form-control-user" id="category" name="category"
									th:field="*{category}" placeholder="Categoria del técnico     Ejemplo: 1°Categoria">
							</div>

							<div class="col-sm-6 mb-3">
								<input type="hidden" class="form-control form-control-user" id="user" name="user"
									th:field="*{user}" placeholder="Usuario del técnico">
							</div>

							<div class="col-sm-6 mb-3">
								<input type="hidden" class="form-control form-control-user" id="password"
									name="password" th:field="*{password}" placeholder="Coloque la contraseña de la cuenta para confirmar">
							</div>

							<!-- Horarios y usuarios -->

						</div>


						<button class="btn btn-primary btn-user btn-block" type="submit">
							Completar edición
						</button>

					</form>




					<!-- Footer -->
									<footer class="sticky-footer bg-white">
										<div class="container my-auto">
											<div class="copyright text-center my-auto">
												<span>website made by CatWebs</span>
											</div>
										</div>
									</footer>
									<!-- End of Footer -->

								</div>
								<!-- End of Content Wrapper -->

							</div>
							<!-- End of Page Wrapper -->

							<!-- Scroll to Top Button-->
							<a class="scroll-to-top rounded" href="#page-top">
								<i class="fas fa-angle-up"></i>
							</a>

							<!-- Logout Modal-->
							<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">¿Usted está seguro de salir?</h5>
											<button class="close" type="button" data-dismiss="modal" aria-label="Close">X

											</button>
										</div>

										<div class="modal-footer">
											<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
											<a class="btn btn-primary" th:href="@{/logout}">Salir</a>
										</div>
									</div>
								</div>
							</div>
							<!-- Bootstrap core JavaScript-->
							<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
							<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>


							<!-- Custom scripts for all pages-->
							<script th:src="@{/js/sb-admin-2.min.js}"></script>

							<!-- Page level plugins -->
							<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

							<!-- Page level custom scripts -->
							<script th:src="@{/js/demo/chart-area-demo.js}"></script>
							<script th:src="@{/js/demo/chart-pie-demo.js}"></script>



							<!-- Core plugin JavaScript-->
							<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>


							<!-- Page level plugins -->
							<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
							<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

							<!-- Page level custom scripts -->
							<script th:src="@{/js/demo/datatables-demo.js}"></script>

</body>


</html>